# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store